BasedOnStyle: LLVM

BreakBeforeBraces: Linux
IndentCaseLabels: false
ColumnLimit: 100
AlignArrayOfStructures: Right
PointerAlignment: Middle
ReferenceAlignment: Middle
IndentPPDirectives: AfterHash
AlignConsecutiveMacros: Consecutive
...
