BasedOnStyle: LLVM

AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Linux
IndentCaseLabels: false
ColumnLimit: 90
AlignArrayOfStructures: Right
PointerAlignment: Middle
ReferenceAlignment: Middle
IndentPPDirectives: AfterHash
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Right
AlignOperands: Align
...
