BasedOnStyle: LLVM

AlwaysBreakAfterReturnType: All 
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Linux
IndentCaseLabels: false
ColumnLimit: 90
AlignArrayOfStructures: Right
PackConstructorInitializers: Never
PointerAlignment: Middle
ReferenceAlignment: Middle
IncludeBlocks: Preserve
IndentPPDirectives: AfterHash
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Right
AlignOperands: Align
...
