.cache/    
.idea/
.vs/
.vscode/
build/
cmake-build-*/
docs/_build/    
docs/_static/    
docs/_templates/    
docs/html/    
docs/latex/    
docs/Doxyfile.bak
env/    
include/um2/config.hpp
prefix/
CMakeLists.txt.user
CMakeUserPresets.json
MPACT_Extras/
**/.DS_Store
