[submodule "tpls/thrust"]
	path = tpls/thrust
	url = https://github.com/NVIDIA/thrust.git
	branch = 2.1.x
[submodule "tpls/spdlog"]
	path = tpls/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
